.book-details {
  position: relative;
  padding-left: 200px;
}

.back-button {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}

.book-details-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.book-details-image {
  flex: 1;
  margin-right: 20px;
}

.book-details-image img {
  max-width: 100%;
  height: auto;
}

.book-details-info {
  flex: 2;
}

.book-info h2,
.book-details-info p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .book-details-content {
    flex-direction: column;
  }

  .book-details-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .book-details {
    padding-left: 10px;
  }

  .back-button {
    font-size: 0.8rem;
  }

  .book-details-info h2 {
    font-size: 1.2rem;
  }

  .book-details-info p {
    font-size: 0.9rem;
  }
}
